.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  padding: re-c(15) 0;
  box-shadow: re-c(1) re-c(-3) re-c(5) re-c(2);
  background-color: var(--white);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    padding: re-c(10) 0;
  }

  // For pseudo elements
  &__search-wrap {
    display: flex;
    align-self: center;
    margin-left: 10%;
    gap: re-c(10);

    &::before {
      content: "";
      display: block;
      width: re-c(20);
      height: re-c(20);
      background: url("../img/icons/icons.svg#search");
    }
  }

  &__search-input {
    position: relative;
    border: 1px solid transparent;
    border-radius: re-c(2);
    max-width: re-c(100);

    &:focus-visible {
      outline: 1px solid var(--textColorBase);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: re-c(30);
  }
}

.nav {
  // Navigation links
  &__list {
    display: flex;
    color: var(--black);
    gap: re-c(30);
  }

  &__item {
    display: flex;
    align-items: center;
  }

  // Social links
  &__social-list {
    display: flex;
    gap: re-c(30);
  }

  &__social-item {
    display: flex;
    align-items: center;
  }

  &__social-icon {
    display: block;
    width: re-c(25);
    height: re-c(25);
    fill: var(--svgColor);
  }
}
