doctype html
html(lang="en").page
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/main.min.css")
    title Document
  body.page__body
    header.header
      .container.header__container
        a(href="#").header__logo  HotCoffee
        .header__search-wrap
          input(type="text" placeholder="Search...").header__search-input
        .header__inner
          nav.nav.header__nav
            ul.nav__list
              li.nav__item
                a(href="#").nav__link.awesome-effect-link Home
              li.nav__item
                a(href="#").nav__link.awesome-effect-link Articles
            ul.nav__social-list
              li.nav__social-item
                a(href="#").nav__social-item
                  svg.nav__social-icon
                    use(xlink:href="./img/icons/icons.svg#instagram")
              li.nav__social-item
                a(href="#").nav__social-item
                  svg.nav__social-icon
                    use(xlink:href="./img/icons/icons.svg#twitter")
              li.nav__social-item
                a(href="#").nav__social-item
                  svg.nav__social-icon
                    use(xlink:href="./img/icons/icons.svg#linkedin")
    main.main
      .container
        section.section.offer
          .offer__text-wrap
            h1.offer__title Make better
              br
              span.offer__title--coffee coffee
            span.offer__description why learn how to blog?
          img(src="./img/offer/offer-image.jpg" alt="Абстракция двух мужчин и женщины с усами" srcset="").offer__img
        section.section.details
          .details__text-wrap
            h2.details__title Long established
            p.detaild__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....
            .details__inner
              p.details__date May 20th 2020
              a(href="#").details__link.awesome-effect-link Read more
          .details__image-wrap
            img(src="./img/details/sashka.jpg" alt="Довольный Сашка с \"Универа\" радуется планшету, который подарил папа")
        section.section.articles
          .articles__card.card
            img.card__img(src="./img/articles/img-1.jpg" alt="Article image")
            .card__wrap-text
              h3.card__title Long established
              p.card__description It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....
              .card__inner
                p.card__date May 20th 2020
                a(href="#").card__link.awesome-effect-link Read more
          .articles__card.card
            img.card__img(src="./img/articles/img-2.jpg" alt="Article image")
            .card__wrap-text
              h3.card__title Long established
              p.card__description It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....
              .card__inner
                p.card__date May 20th 2020
                a(href="#").card__link.awesome-effect-link Read more
          .articles__card.card
            img.card__img(src="./img/articles/img-3.jpg" alt="Article image")
            .card__wrap-text
              h3.card__title Long established
              p.card__description It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....
              .card__inner
                p.card__date May 20th 2020
                a(href="#").card__link.awesome-effect-link Read more
    footer.footer
