.container {
  margin: 0 auto;
  max-width: re-c(980);

  @include media-tablet-horizontal {
    padding: 0 re-c(5);
  }
}

.main {
  padding-top: re-c(74);
}

button {
  border: none;
  background-color: inherit;
}

a {
  text-decoration: none;
}
