.page {
  &__body {
    font: 400 re-c(14) var(--fontInter);
    color: var(--textColorBase);
  }
}

.header {
  &__logo {
    font: 700 re-c(20) var(--fontInter);
    color: var(--black);
  }
}

.nav {
  &__link {
    font: 400 re-c(16) var(--fontInter);
    color: var(--black);
  }
}

.offer {
  &__title {
    font: 700 re-c(60) var(--fontInter);
    color: var(--black);
  }

  &__description {
    font: 400 re-c(30) var(--fontInter);
  }
}

.details {
  &__title {
    font: 700 re-c(30) var(--fontInter);
    color: var(--textColorHeaders);
  }

  &__link {
    vertical-align: baseline;
    font: 700 re-c(12) var(--fontInter);
    color: var(--textColorHeaders);
  }
}

.card {
  &__title {
    font: 700 re-c(20) var(--fontInter);
    color: var(--textColorHeaders);
  }

  &__link {
    font: 700 re-c(12) var(--fontInter);
    color: var(--textColorHeaders);
  }
}

.highlight {
  &__title {
    font: 700 re-c(40) var(--fontInter);
    color: var(--black);
  }

  &__description {
    font: 400 re-c(16) var(--fontInter);
  }

  &__link {
    font: 700 re-c(16) var(--fontInter);
    color: var(--black);
  }
}

.button-expand {
  font: 700 re-c(16) var(--fontInter);
  color: var(--white);
}
