:root {
  // font
  --fontInter: "Inter", sans-serif;

  // colors
  --black: #000;
  --white: #fff;
  --textColorBase: #718096;
  --textColorHeaders: #2d3748;
  --svgColor: #454444;
  --accentColor: #6b46c1;
}

// Media queries
$mediaWidthTablet: 850px;
$mediaWidthTabletHorizontal: 1024px;
